<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.ad.mapper.DataSlotTypeMapper">
  <resultMap id="BaseResultMap" type="com.mk.ad.vo.DataSlotType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="slot_type_name" jdbcType="VARCHAR" property="slot_type_name" />
    <result column="slot_type_id" jdbcType="INTEGER" property="slot_type_id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, slot_type_name, slot_type_id
  </sql>
  <select id="selectByExample" parameterType="com.mk.ad.vo.DataSlotTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_slot_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_slot_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_slot_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mk.ad.vo.DataSlotTypeExample">
    delete from data_slot_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mk.ad.vo.DataSlotType" useGeneratedKeys="true">
    insert into data_slot_type (slot_type_name, slot_type_id)
    values (#{slot_type_name,jdbcType=VARCHAR}, #{slot_type_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mk.ad.vo.DataSlotType" useGeneratedKeys="true">
    insert into data_slot_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="slot_type_name != null">
        slot_type_name,
      </if>
      <if test="slot_type_id != null">
        slot_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="slot_type_name != null">
        #{slot_type_name,jdbcType=VARCHAR},
      </if>
      <if test="slot_type_id != null">
        #{slot_type_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.ad.vo.DataSlotTypeExample" resultType="java.lang.Long">
    select count(*) from data_slot_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update data_slot_type
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.slot_type_name != null">
        slot_type_name = #{record.slot_type_name,jdbcType=VARCHAR},
      </if>
      <if test="record.slot_type_id != null">
        slot_type_id = #{record.slot_type_id,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update data_slot_type
    set id = #{record.id,jdbcType=BIGINT},
      slot_type_name = #{record.slot_type_name,jdbcType=VARCHAR},
      slot_type_id = #{record.slot_type_id,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ad.vo.DataSlotType">
    update data_slot_type
    <set>
      <if test="slot_type_name != null">
        slot_type_name = #{slot_type_name,jdbcType=VARCHAR},
      </if>
      <if test="slot_type_id != null">
        slot_type_id = #{slot_type_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ad.vo.DataSlotType">
    update data_slot_type
    set slot_type_name = #{slot_type_name,jdbcType=VARCHAR},
      slot_type_id = #{slot_type_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="sspSelectSlotTypeName" parameterType="com.mk.ad.vo.Request.SspClientIndexDTO" resultType="java.lang.String">
   SELECT slot_type_name
    FROM data_slot_type dst
    WHERE dst.id = #{slot_type}
  </select>
</mapper>