<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.ad.mapper.SspMediaMapper">
  <resultMap id="BaseResultMap" type="com.mk.ad.vo.SspMedia">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="platform_type" jdbcType="INTEGER" property="platform_type" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="detail_url" jdbcType="VARCHAR" property="detail_url" />
    <result column="media_name" jdbcType="VARCHAR" property="media_name" />
    <result column="media_type_id" jdbcType="INTEGER" property="media_type_id" />
    <result column="media_category_id" jdbcType="INTEGER" property="media_category_id" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="media_desc" jdbcType="VARCHAR" property="media_desc" />
    <result column="package_name" jdbcType="VARCHAR" property="package_name" />
    <result column="relation_type" jdbcType="INTEGER" property="relation_type" />
    <result column="register_certificate" jdbcType="VARCHAR" property="register_certificate" />
    <result column="mandate_certificate" jdbcType="VARCHAR" property="mandate_certificate" />
    <result column="cooperation_status" jdbcType="INTEGER" property="cooperation_status" />
    <result column="web_domain" jdbcType="VARCHAR" property="web_domain" />
    <result column="web_record" jdbcType="VARCHAR" property="web_record" />
    <result column="media_examine_status" jdbcType="INTEGER" property="media_examine_status" />
    <result column="record_url" jdbcType="VARCHAR" property="record_url" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="is_deleted" jdbcType="INTEGER" property="is_deleted" />
    <result column="ssp_id" jdbcType="BIGINT" property="ssp_id" />
    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="sha_data" jdbcType="VARCHAR" property="sha_data" />
    <result column="start_date" jdbcType="TIMESTAMP" property="start_date" />
    <result column="end_date" jdbcType="TIMESTAMP" property="end_date" />
    <result column="ua_examples" jdbcType="VARCHAR" property="ua_examples" />
    <result column="settlement_type" jdbcType="INTEGER" property="settlement_type" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, platform_type, store_id, detail_url, media_name, media_type_id, media_category_id, 
    keywords, media_desc, package_name, relation_type, register_certificate, mandate_certificate, 
    cooperation_status, web_domain, web_record, media_examine_status, record_url, create_time, 
    update_time, is_deleted, ssp_id, user_id, sha_data, start_date, end_date, ua_examples, settlement_type
  </sql>
  <select id="selectByExample" parameterType="com.mk.ad.vo.SspMediaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ssp_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ssp_media
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ssp_media
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mk.ad.vo.SspMediaExample">
    delete from ssp_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mk.ad.vo.SspMedia" useGeneratedKeys="true">
    insert into ssp_media (platform_type, store_id, detail_url, 
      media_name, media_type_id, media_category_id, 
      keywords, media_desc, package_name, 
      relation_type, register_certificate, mandate_certificate, 
      cooperation_status, web_domain, web_record, 
      media_examine_status, record_url, create_time, 
      update_time, is_deleted, ssp_id, 
      user_id, sha_data, start_date, 
      end_date, ua_examples)
    values (#{platform_type,jdbcType=INTEGER}, #{store_id,jdbcType=INTEGER}, #{detail_url,jdbcType=VARCHAR}, 
      #{media_name,jdbcType=VARCHAR}, #{media_type_id,jdbcType=INTEGER}, #{media_category_id,jdbcType=INTEGER}, 
      #{keywords,jdbcType=VARCHAR}, #{media_desc,jdbcType=VARCHAR}, #{package_name,jdbcType=VARCHAR}, 
      #{relation_type,jdbcType=INTEGER}, #{register_certificate,jdbcType=VARCHAR}, #{mandate_certificate,jdbcType=VARCHAR}, 
      #{cooperation_status,jdbcType=INTEGER}, #{web_domain,jdbcType=VARCHAR}, #{web_record,jdbcType=VARCHAR}, 
      #{media_examine_status,jdbcType=INTEGER}, #{record_url,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP}, #{is_deleted,jdbcType=INTEGER}, #{ssp_id,jdbcType=BIGINT}, 
      #{user_id,jdbcType=VARCHAR}, #{sha_data,jdbcType=VARCHAR}, #{start_date,jdbcType=TIMESTAMP}, 
      #{end_date,jdbcType=TIMESTAMP}, #{ua_examples,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mk.ad.vo.SspMedia" useGeneratedKeys="true">
    insert into ssp_media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="platform_type != null">
        platform_type,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
      <if test="detail_url != null">
        detail_url,
      </if>
      <if test="media_name != null">
        media_name,
      </if>
      <if test="media_type_id != null">
        media_type_id,
      </if>
      <if test="media_category_id != null">
        media_category_id,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="media_desc != null">
        media_desc,
      </if>
      <if test="package_name != null">
        package_name,
      </if>
      <if test="relation_type != null">
        relation_type,
      </if>
      <if test="register_certificate != null">
        register_certificate,
      </if>
      <if test="mandate_certificate != null">
        mandate_certificate,
      </if>
      <if test="cooperation_status != null">
        cooperation_status,
      </if>
      <if test="web_domain != null">
        web_domain,
      </if>
      <if test="web_record != null">
        web_record,
      </if>
      <if test="media_examine_status != null">
        media_examine_status,
      </if>
      <if test="record_url != null">
        record_url,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="is_deleted != null">
        is_deleted,
      </if>
      <if test="ssp_id != null">
        ssp_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="sha_data != null">
        sha_data,
      </if>
      <if test="start_date != null">
        start_date,
      </if>
      <if test="end_date != null">
        end_date,
      </if>
      <if test="ua_examples != null">
        ua_examples,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="platform_type != null">
        #{platform_type,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
      <if test="detail_url != null">
        #{detail_url,jdbcType=VARCHAR},
      </if>
      <if test="media_name != null">
        #{media_name,jdbcType=VARCHAR},
      </if>
      <if test="media_type_id != null">
        #{media_type_id,jdbcType=INTEGER},
      </if>
      <if test="media_category_id != null">
        #{media_category_id,jdbcType=INTEGER},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="media_desc != null">
        #{media_desc,jdbcType=VARCHAR},
      </if>
      <if test="package_name != null">
        #{package_name,jdbcType=VARCHAR},
      </if>
      <if test="relation_type != null">
        #{relation_type,jdbcType=INTEGER},
      </if>
      <if test="register_certificate != null">
        #{register_certificate,jdbcType=VARCHAR},
      </if>
      <if test="mandate_certificate != null">
        #{mandate_certificate,jdbcType=VARCHAR},
      </if>
      <if test="cooperation_status != null">
        #{cooperation_status,jdbcType=INTEGER},
      </if>
      <if test="web_domain != null">
        #{web_domain,jdbcType=VARCHAR},
      </if>
      <if test="web_record != null">
        #{web_record,jdbcType=VARCHAR},
      </if>
      <if test="media_examine_status != null">
        #{media_examine_status,jdbcType=INTEGER},
      </if>
      <if test="record_url != null">
        #{record_url,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_deleted != null">
        #{is_deleted,jdbcType=INTEGER},
      </if>
      <if test="ssp_id != null">
        #{ssp_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="sha_data != null">
        #{sha_data,jdbcType=VARCHAR},
      </if>
      <if test="start_date != null">
        #{start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="end_date != null">
        #{end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="ua_examples != null">
        #{ua_examples,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.ad.vo.SspMediaExample" resultType="java.lang.Long">
    select count(*) from ssp_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ssp_media
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.platform_type != null">
        platform_type = #{record.platform_type,jdbcType=INTEGER},
      </if>
      <if test="record.store_id != null">
        store_id = #{record.store_id,jdbcType=INTEGER},
      </if>
      <if test="record.detail_url != null">
        detail_url = #{record.detail_url,jdbcType=VARCHAR},
      </if>
      <if test="record.media_name != null">
        media_name = #{record.media_name,jdbcType=VARCHAR},
      </if>
      <if test="record.media_type_id != null">
        media_type_id = #{record.media_type_id,jdbcType=INTEGER},
      </if>
      <if test="record.media_category_id != null">
        media_category_id = #{record.media_category_id,jdbcType=INTEGER},
      </if>
      <if test="record.keywords != null">
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.media_desc != null">
        media_desc = #{record.media_desc,jdbcType=VARCHAR},
      </if>
      <if test="record.package_name != null">
        package_name = #{record.package_name,jdbcType=VARCHAR},
      </if>
      <if test="record.relation_type != null">
        relation_type = #{record.relation_type,jdbcType=INTEGER},
      </if>
      <if test="record.register_certificate != null">
        register_certificate = #{record.register_certificate,jdbcType=VARCHAR},
      </if>
      <if test="record.mandate_certificate != null">
        mandate_certificate = #{record.mandate_certificate,jdbcType=VARCHAR},
      </if>
      <if test="record.cooperation_status != null">
        cooperation_status = #{record.cooperation_status,jdbcType=INTEGER},
      </if>
      <if test="record.web_domain != null">
        web_domain = #{record.web_domain,jdbcType=VARCHAR},
      </if>
      <if test="record.web_record != null">
        web_record = #{record.web_record,jdbcType=VARCHAR},
      </if>
      <if test="record.media_examine_status != null">
        media_examine_status = #{record.media_examine_status,jdbcType=INTEGER},
      </if>
      <if test="record.record_url != null">
        record_url = #{record.record_url,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.is_deleted != null">
        is_deleted = #{record.is_deleted,jdbcType=INTEGER},
      </if>
      <if test="record.ssp_id != null">
        ssp_id = #{record.ssp_id,jdbcType=BIGINT},
      </if>
      <if test="record.user_id != null">
        user_id = #{record.user_id,jdbcType=VARCHAR},
      </if>
      <if test="record.sha_data != null">
        sha_data = #{record.sha_data,jdbcType=VARCHAR},
      </if>
      <if test="record.start_date != null">
        start_date = #{record.start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.end_date != null">
        end_date = #{record.end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ua_examples != null">
        ua_examples = #{record.ua_examples,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ssp_media
    set id = #{record.id,jdbcType=BIGINT},
      platform_type = #{record.platform_type,jdbcType=INTEGER},
      store_id = #{record.store_id,jdbcType=INTEGER},
      detail_url = #{record.detail_url,jdbcType=VARCHAR},
      media_name = #{record.media_name,jdbcType=VARCHAR},
      media_type_id = #{record.media_type_id,jdbcType=INTEGER},
      media_category_id = #{record.media_category_id,jdbcType=INTEGER},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      media_desc = #{record.media_desc,jdbcType=VARCHAR},
      package_name = #{record.package_name,jdbcType=VARCHAR},
      relation_type = #{record.relation_type,jdbcType=INTEGER},
      register_certificate = #{record.register_certificate,jdbcType=VARCHAR},
      mandate_certificate = #{record.mandate_certificate,jdbcType=VARCHAR},
      cooperation_status = #{record.cooperation_status,jdbcType=INTEGER},
      web_domain = #{record.web_domain,jdbcType=VARCHAR},
      web_record = #{record.web_record,jdbcType=VARCHAR},
      media_examine_status = #{record.media_examine_status,jdbcType=INTEGER},
      record_url = #{record.record_url,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      is_deleted = #{record.is_deleted,jdbcType=INTEGER},
      ssp_id = #{record.ssp_id,jdbcType=BIGINT},
      user_id = #{record.user_id,jdbcType=VARCHAR},
      sha_data = #{record.sha_data,jdbcType=VARCHAR},
      start_date = #{record.start_date,jdbcType=TIMESTAMP},
      end_date = #{record.end_date,jdbcType=TIMESTAMP},
      ua_examples = #{record.ua_examples,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ad.vo.SspMedia">
    update ssp_media
    <set>
      <if test="platform_type != null">
        platform_type = #{platform_type,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        store_id = #{store_id,jdbcType=INTEGER},
      </if>
      <if test="detail_url != null">
        detail_url = #{detail_url,jdbcType=VARCHAR},
      </if>
      <if test="media_name != null">
        media_name = #{media_name,jdbcType=VARCHAR},
      </if>
      <if test="media_type_id != null">
        media_type_id = #{media_type_id,jdbcType=INTEGER},
      </if>
      <if test="media_category_id != null">
        media_category_id = #{media_category_id,jdbcType=INTEGER},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="media_desc != null">
        media_desc = #{media_desc,jdbcType=VARCHAR},
      </if>
      <if test="package_name != null">
        package_name = #{package_name,jdbcType=VARCHAR},
      </if>
      <if test="relation_type != null">
        relation_type = #{relation_type,jdbcType=INTEGER},
      </if>
      <if test="register_certificate != null">
        register_certificate = #{register_certificate,jdbcType=VARCHAR},
      </if>
      <if test="mandate_certificate != null">
        mandate_certificate = #{mandate_certificate,jdbcType=VARCHAR},
      </if>
      <if test="cooperation_status != null">
        cooperation_status = #{cooperation_status,jdbcType=INTEGER},
      </if>
      <if test="web_domain != null">
        web_domain = #{web_domain,jdbcType=VARCHAR},
      </if>
      <if test="web_record != null">
        web_record = #{web_record,jdbcType=VARCHAR},
      </if>
      <if test="media_examine_status != null">
        media_examine_status = #{media_examine_status,jdbcType=INTEGER},
      </if>
      <if test="record_url != null">
        record_url = #{record_url,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_deleted != null">
        is_deleted = #{is_deleted,jdbcType=INTEGER},
      </if>
      <if test="ssp_id != null">
        ssp_id = #{ssp_id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="sha_data != null">
        sha_data = #{sha_data,jdbcType=VARCHAR},
      </if>
      <if test="start_date != null">
        start_date = #{start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="end_date != null">
        end_date = #{end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="ua_examples != null">
        ua_examples = #{ua_examples,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ad.vo.SspMedia">
    update ssp_media
    set platform_type = #{platform_type,jdbcType=INTEGER},
      store_id = #{store_id,jdbcType=INTEGER},
      detail_url = #{detail_url,jdbcType=VARCHAR},
      media_name = #{media_name,jdbcType=VARCHAR},
      media_type_id = #{media_type_id,jdbcType=INTEGER},
      media_category_id = #{media_category_id,jdbcType=INTEGER},
      keywords = #{keywords,jdbcType=VARCHAR},
      media_desc = #{media_desc,jdbcType=VARCHAR},
      package_name = #{package_name,jdbcType=VARCHAR},
      relation_type = #{relation_type,jdbcType=INTEGER},
      register_certificate = #{register_certificate,jdbcType=VARCHAR},
      mandate_certificate = #{mandate_certificate,jdbcType=VARCHAR},
      cooperation_status = #{cooperation_status,jdbcType=INTEGER},
      web_domain = #{web_domain,jdbcType=VARCHAR},
      web_record = #{web_record,jdbcType=VARCHAR},
      media_examine_status = #{media_examine_status,jdbcType=INTEGER},
      record_url = #{record_url,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      is_deleted = #{is_deleted,jdbcType=INTEGER},
      ssp_id = #{ssp_id,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=VARCHAR},
      sha_data = #{sha_data,jdbcType=VARCHAR},
      start_date = #{start_date,jdbcType=TIMESTAMP},
      end_date = #{end_date,jdbcType=TIMESTAMP},
      ua_examples = #{ua_examples,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="sspIndexSlotId" parameterType="com.mk.ad.vo.Request.SspAdSlotRequestDTO" resultType="java.lang.String">
    SELECT DISTINCT
    sas.id AS slotid
    FROM
    ssp_ad_slot sas
    LEFT JOIN ssp_media sm ON sm.id = sas.media_id
    where 1=1
    <if test="media_id != null and media_id.size > 0">
    <foreach collection="media_id" open="AND sm.id IN (" close=")" item="item" separator=",">
      #{item}
    </foreach>
    </if>
    <if test="slot_type != null and slot_type.size > 0">
    <foreach collection="slot_type" open="AND sas.slot_type_id IN (" close=")" item="item" separator=",">
      #{item}
    </foreach>
    </if>
    <if test="slot_id != null and slot_id.size > 0">
    <foreach collection="slot_id" open="AND sas.id IN (" close=")" item="item" separator=",">
      #{item}
    </foreach>
    </if>
  </select>
  <select id="selectsys" parameterType="java.lang.String" resultType="java.lang.Integer">
    select system_id from sys_user where id = #{id}
  </select>
  <select id="mediaNameList" parameterType="com.mk.ad.vo.Request.MediaNameReuestDTO" resultType="com.mk.ad.vo.SspMedia">
    SELECT media_name from ssp_media where 1=1
    <if test="media_id != null and media_id.size > 0">
      <foreach collection="media_id" open="AND id IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
  </select>
  <select id="sspIndexMediaId" parameterType="com.mk.ad.vo.Request.SspAdSlotRequestDTO" resultType="java.lang.String">
    SELECT DISTINCT
    sm.id AS mediaid
    FROM
    ssp_media sm
    where user_id = #{user_id}
  </select>
  <select id="mediaByTagid" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
      media_id
    FROM
      ssp_ad_slot
    where id = #{tagid}
  </select>
  <select id="sspSelectMediaName" parameterType="com.mk.ad.vo.Request.SspClientIndexDTO" resultType="java.lang.String">
   SELECT media_name
    FROM ssp_media sm
    WHERE sm.id = #{media_id}
  </select>
  <select id="sspIndexSlotName" parameterType="com.mk.ad.vo.Request.SspIndexSlotRequestDTO" resultType="java.util.Map">
    SELECT DISTINCT sas.id AS slotid,
    sas.slot_name as slotname
    FROM ssp_ad_slot sas
    where 1=1
    <if test="slot_type != null and slot_type.size > 0">
      <foreach collection="slot_type" open="AND sas.slot_type_id IN (" close=")" item="item" separator=",">
        #{item}
      </foreach>
    </if>
  </select>
  <select id="getAgentByMediaId" parameterType="java.lang.String" resultType="java.lang.String">
    select b.id from ssp_media a left join admin_ssp_account b on a.user_id = b.user_id where a.id = #{mediaId}
  </select>
</mapper>